
@{
    ViewData["Title"] = "CreatedPerson";

}

<section>

    <h1>New Business made</h1>
    @foreach (var group in Model)
    {
<section>

    <h3>Business Name: @group.BusinessName</h3>
    <h3>Business Type: @group.BusinessType</h3>

    <br />
    <br />
    <h3>The items in the shop are as follows</h3>
    @foreach (var inventory in group.InventoryList)
    {
        <br />
        foreach (var item in inventory)
        {
            switch (item.Key)
            {
                case ("item_name"):
                    <h4>Item Name: @item.Value</h4>
                    break;
                case ("item_type"):
                    <h4>Item Type: @item.Value</h4>
                    break;
                case ("item_price"):
                    <h4>Item Price: @item.Value</h4>
                    break;
                case ("money_type"):
                    <h4>Curency used: @item.Value</h4>
                    break;
            }
        }
        <br />

    }
</section>




    }
</section>
