
@{
    ViewData["Title"] = "CreatedPerson";
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

}

<section>

    <h1>New Business made</h1>
    <div class="">
        @foreach (var group in Model)
        {
            <section>

                <h3>Business Name: @group.BusinessName</h3>
                <h3>Business Type: @group.BusinessType</h3>

                <br />
                <br />
                <h3>The items in the shop are as follows</h3>

                @foreach (var inventory in group.InventoryList)
                {
                    <br />
                    foreach (var item in inventory)
                    {
                        <div class="card">
                            <div class="card-title"">

                                @if (item == "item_name")
                                {
                                    <h4 >Item Name: @item.Value</h4>
                                }
                                @if (item == "item_type")
                                {
                                <h4 class="card-title">Item Type: @item.Value</h4>
                                }
                            </div>
                            <div class="card-body">
                            
                        
                                @if (item == "item_price")
                                {
                                <p >Item Price: @item.Value</p>
                                }
                                @if (item == "money_type")
                                {
                                <p >Curency used: @item.Value</p>
                                }
                         

                            </div>
                        </div>
                                
                     }
                    <br />

                }
            </section>
        
        }
    </div>
</section>
